.options-list {
  width: 100%;
  padding: 10px;
  background-color: rgb(211, 203, 203);
  text-align: center;
}

.options-list h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  /* color: rgb(9, 111, 170); */
  color: rgb(34, 29, 29);
}

.options-list-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.options-list li {
  margin-right: 10px;
  cursor: pointer;
  color: blue;
  font-size: 20px;
  font-weight: bold;

}

.options-list li:hover {
  color: white;
}

.options-list .separator {
  color: rgb(34, 29, 29);
  margin: 0 5px;
}


@media only screen and (max-width: 600px) {
  .options-list-ul {
    flex-direction: column;
    align-items: center;
  }

  .options-list li {
    margin: 5px 0;
  }
}

@media only screen and (min-width: 601px) {
  .options-list-ul {
    flex-wrap: wrap;
  }

  .options-list li {
    margin: 5px;
  }
}