/* Profile.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.error-message {
    color: #d32f2f;
    /* Red color for error messages */
}

.form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
}

.form-field {
    margin-bottom: 15px;
}

/* Adjust margin for the TextField components */
.form-field .MuiTextField-root {
    margin-bottom: 8px;
}

.form-button {
    width: 100%;
    margin-top: 20px;
}